<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @beer_club.name %>
</p>

<p>
  <b>Founded:</b>
  <%= @beer_club.founded %>
</p>

<p>
  <b>City:</b>
  <%= @beer_club.city %>
</p>

<p>
	<b>Members:</b>
	<%if not @beer_club.memberships.nil? %>
		<ul>
		<% @beer_club.memberships.each do |m| %>
			<% u = User.find(m.user_id) %>
			<li> <%= link_to "#{u.username}", user_path(m.user_id) %> </li>
			<% end %>
		</ul>
	<% end %>
	</p>

<%= link_to('Edit', edit_beer_club_path(@beer_club)) if current_user %> |
<%= link_to 'Back', beer_clubs_path %>
