<p id="notice"><%= notice %></p>

<h1>
  <%= @user.username %>
</h1>

<p> <%= @user.username %> has given <%= pluralize(@user.ratings.count, 'rating') %> 
				<% if @user.ratings.count > 1 %>
				with the average of <%= @user.average_rating %>
				<% end %>
</p>
				
<% if @user.ratings.count >= 1 %>
<ul>
	<%@user.ratings.each do |rating| %>
		<li>  <%= rating.to_s	%> <%= link_to 'Delete', rating, method: :delete, data: {confirm:	'Are you sure?'} %></li>
	<% end %>
</ul>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
