<p id="notice"><%= notice %></p>

<h1>
  <%= @user.username %>
</h1>

<p> <%= @user.username %> has given <%= pluralize(@user.ratings.count, 'rating') %> 
				<% if @user.ratings.count > 1 %>
				with the average of <%= @user.average_rating %>
				<% end %>
</p>
				
<% if @user.ratings.count >= 1 %>
<ul>
	<%@user.ratings.each do |rating| %>
		<li>  <%= rating.to_s	%> 
					<% if signed_in?(@user) %>
						<%= link_to 'Delete', rating, method: :delete, data: {confirm:	'Are you sure?'}, :class => 'btn btn-danger'%></li>
					<% else %>
						</li>
					<% end %>
	<% end %>
</ul>
<% end %>

<p> In the following Beer Clubs:
<%if @user.memberships.count > 0 %>
	<%@user.memberships.each do |m| %>
		<% c = BeerClub.find(m.beer_club_id) %>
		<%= link_to "#{c.name}", beer_club_path(m.beer_club_id), :class => 'btn btn-primary' %>
	<% end %>
	</p>
	<% else %>
		</p>
<% end %>

<p> Favorite beer style: <%= @user.top_rated_style %> </p>

<p> Favorite brewery: <%= @user.top_rated_brewery %> </p>

<%= edit_and_destroy_buttons(@user) %>
