

<h1>Listing breweries
</h1>

<h2> Active 
    <p> which there are <%=@active_breweries.count%> of</p>
</h2>
<%= render 'list', :breweries => @active_breweries %>

<h2> Retired 
    <p> which there are <%=@retired_breweries.count%> of</p>
</h2>

<%= render 'list', :breweries => @retired_breweries %>

<%= link_to('New Brewery', new_brewery_path, :class =>'btn btn:primary') if current_user %>

