<p id="notice"><%= notice %></p>

<p>
	<h2><%= @brewery.name %>
		<% if not @brewery.activity %>
			<span class="label"> retired</span>
		<% end %>
	</h2>
</p>

<p>
  <em> Established: <%= @brewery.year %></em>
</p>

<p>
  Number of beers:  <%= @brewery.beers.count %>
</p>

<p>
   <% @brewery.beers.each do |beer| %>
   <%=link_to beer.name, beer_path(beer) %>
   <% end %>
</p>

<p>
	This brewery's beers have a total of
	<%=pluralize(@brewery.ratings.count, 'rating')%> 
	<%if(@brewery.ratings.count>1)%>
	<%="averaging at"%>
	<%end%>
	<%if(@brewery.ratings.count==1)%>
		<%="with the value of"%>
	<%end%>
	<%=@brewery.average_rating%>

</p>
<%= edit_and_destroy_buttons(@brewery) %>
