<p id="notice"><%= notice %></p>

<p>
	<h2 style=>
	  <%= @brewery.name %>
	</h2>
</p>

<p>
  
  <i> Established year <%= @brewery.year %></i>
</p>

<p>
  Number of beers:
  <%= @brewery.beers.count %>
</p>

<p>
   <% @brewery.beers.each do |beer| %>
   <%=link_to beer.name, beer_path(beer) %>
   <% end %>
</p>

<p>
	This brewery's beers have a total of
	<%=pluralize(@brewery.ratings.count, 'rating')%> 
	<%if(@brewery.ratings.count>1)%>
	<%="averaging at"%>
	<%end%>
	<%if(@brewery.ratings.count==1)%>
		<%="with the value of"%>
	<%end%>
	<%=@brewery.average_rating%>

</p>

<%= link_to('Edit', edit_brewery_path(@brewery)) if current_user %> |
<%= link_to 'Back', breweries_path %>
