<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @beer.name %>
</p>

<p>
  <b>Style:</b>
  <%= @beer.style %>
</p>

<p>
  <b>Brewery:</b>
  <%= @beer.brewery_id %>
</p>

<p>
<% if @beer.ratings.empty? %>
  This beer has no ratings

<% else %>

T‎his beer has <%= pluralize(@beer.ratings.count, 'rating') %> . With the average of
<%= @beer.average_rating %>

<% end %>
</p>

<%= link_to('Edit', edit_beer_path(@beer)) if current_user %> |
<%= link_to 'Back', beers_path %>
